<%- include('header')%>



    <main id="main" class="main">

        <div class="pagetitle">
            <h1>View Brand</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">View Brand</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">View Form</h5>
                            <form action="">
                                <input type="text" name="search" value="<%=search%>">
                                <input type="submit" value="Search">
                            </form>
                            <form action="/admin/brand/DeleteAllBrand" method="post">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="au-checkbox">
                                                    <input type="checkbox" id="Allchechbox">
                                                    <span class="au-checkmark"></span>

                                                    <button class="item" type="submit" data-toggle="tooltip"
                                                        data-placement="top" title="Delete">
                                                        <a href="#"><i class="ri-delete-bin-5-line"></i></a>
                                                    </button>
                                                </label>
                                            </th>
                                            <th>Category Name</th>
                                            <th>Subcate Name</th>
                                            <th>ExtraCategory Name</th>
                                            <th>Brand Name</th>
                                            <th>status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if(brandData!= '' ){%>
                                            <% for (let bd of brandData){%>
                                                <tr class="tr-shadow">
                                                    <td>
                                                            <label class="au-checkbox">
                                                                <input type="checkbox" class="checkBoxClass"
                                                                    value="<%=bd._id%>" name="deleteAll[]">
                                                                <span class="au-checkmark"></span>
                                                            </label>
                                                        </td>

                                                    <td>
                                                        <%=bd.category_name.category_name%>
                                                    </td>
                                                    <td>
                                                        <%=bd.extra_subcate_name.subcate_name%>
                                                    </td>
                                                    <td>
                                                        <%=bd.extra_name.extra_name%>
                                                    </td>
                                                    <td>
                                                        <%=bd.brand_name%>
                                                    </td>

                                                    <td>
                                                        <%if(bd.isActive){%>
                                                            <a href="/admin/brand/activebrand/<%=bd.id%>"
                                                                class="btn btn-success">Active</a>
                                                            <%} else{%>
                                                                <a href="/admin/brand/deactivebrand/<%=bd.id%>"
                                                                    class="btn btn-danger">DeActive</a>
                                                                <%}%>
                                                    </td>

                                                    <td>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                        title="Edit" type="button">
                                                        <a href="/admin/brand/updatebrand/<%=bd.id%>"><i
                                                                class="ri-edit-2-fill"></i></a>
                                                    </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Delete" type="button">
                                                            <a href="/admin/brand/deletebrand/<%=bd.id%>"><i
                                                                    class="ri-delete-bin-5-line"></i></a>
                                                        </button>
                        </div>
                        </td>
                        </tr>
                        <%}} else {%>
                            <tr>
                                <td colspan="10">Not Record Found </td>
                            </tr>
                            <%}%>
                                <tr>
                                    <td colspan="10" align="center">
                                        <% var prevpage=parseInt(currentpage)-1%>
                                            <%if(prevpage>=0){%>
                                                <a href="?page=<%=prevpage%>" class="btn btn-primary btn-sm ">Prev</a>
                                                <%}%>


                                                    <a href="?page=<%=currentpage%>">
                                                        <%=parseInt(currentpage)+1%>
                                                    </a>
                                                    <% var nextpage=parseInt(currentpage)+1%>
                                                        <%if(totalDocument> nextpage){%>
                                                            <a href="?page=<%=nextpage%>"
                                                                class="btn btn-primary btn-sm ">Next</a>
                                                            <%}%>

                                    </td>
                                </tr>
                                </tbody>
                                </table>
                                </form>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </main><!-- End #main -->
    <%- include('footer')%>

        <script>
            $(document).ready(function () {
                $("#Allchechbox").click(function () {
                    $(".checkBoxClass").prop('checked', $(this).prop('checked'));
                });
            });
        </script>