<%-include('header')%>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Add Brand</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Forms</li>
                    <li class="breadcrumb-item active">Brand</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add Form </h5>

                            <!-- General Form Elements -->
                            <form method="post" action="/admin/type/Edittype">
                                <input type="hidden" name="oldId" value="<%=updatatype.id%>">
                                <div class="row mb-3">
                                    <label for="select" class="col-sm-2 col-form-label">Type Category</label>
                                    <div class="col-sm-10">
                                        <select name="category_name" id="categoryId"
                                            onchange="return getsubcategoryData()" class="form-control">
                                            <option value="">-- Type Category -- </option>

                                            <option value="<%=updatatype.id%>">
                                                <%=updatatype.category_name.category_name%>
                                            </option>

                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="select" class="col-sm-2 col-form-label">Type SubCategory</label>
                                    <div class="col-sm-10">
                                        <select name="extra_subcate_name" id="subcategoryId" class="form-control">
                                            <option value="">-- Type SubCategory -- </option>
                                            <option value="<%=updatatype.id%>">
                                                <%=updatatype.subcate_name%>
                                            </option>

                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="select" class="col-sm-2 col-form-label">Type ExtraCategory</label>
                                    <div class="col-sm-10">
                                        <select name="extra_name" id="extracategoryId" class="form-control">
                                            <option value="">-- Type ExtraCategory -- </option>
                                            <option value="<%=updatatype.id%>">
                                                <%=updatatype.extra_name.extra_name%>
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <label for="select" class="col-sm-2 col-form-label">Type Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="type_name" value="<%=updatatype.type_name%>">
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm"> Edit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm"> Reset
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>


            </div>
        </section>

    </main><!-- End #main -->

    <%-include('footer')%>